{:main               codenames.core
 :closure-defines    {codenames.db/HOSTNAME "http://localhost"
                      codenames.db/PORT     "3001"}
 ;;:pseudo-names       true
 ;;:pretty-print       true
 :optimizations      :none              ; TODO: advanced broke recently
 :asset-path         "/js/dev"
 :output-to          "resources/public/js/main.js"
 :output-dir         "resources/public/js/dev"
 :language-in        :ecmascript-2017
 :language-out       :ecmascript-2017}
