{:deps     true
 :dev-http {8706 "public"}
 :builds
 {:dev
  {:target     :browser
   :compiler-options {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
   :devtools   {:after-load codenames.core/re-render
                #_:preloads #_[devtools.preload
                           day8.re-frame-10x.preload]
                }
   :modules    {:main {:init-fn codenames.core/init}}
   :source-map true
   :output-dir "resources/public/js/dev"
   :asset-path "/js/dev"}}}
